@media only screen and (max-width: 1000px) {
  .box-master-container {
    flex-direction: column;
    align-items: center;
  }
}


.skill-container {
  background: white;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 500px;
  padding-top: 25px;
}
.box-master-container {
  justify-content: center;
  align-content: center;
}